.week-container {
  margin-left: 60px;
  flex-flow: column wrap;
  margin-top: 40px;
}
.week-items {
  margin-top: 20px;
  display: flex;
  list-style: none;
  line-height: 181.34%;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.item {
  flex: 50%;
}
