.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-block {
  width: 70%;
  flex-direction: column;
  background-image: url('./img/BG.jpg');
  background-size: cover;
  background-position: top;
}

.right-block {
  width: 30%;
}
